{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static '/css/styles.css' ? now 'U' %}">
    <link rel="icon" type="image/png" href="{% static '/images/virus.png' %}">
    <title>{% block title %}Title{% endblock %}</title>
</head>
<body>
    {% block content %}
    {% endblock %}
    <script>
        $(document).ready(function(){
        {% block jquery %}{% endblock %}
        })
    </script>
</body>
</html>